<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>About IQAC</u></h1>
          </div>
        </section>
      </div><br>
      <div class="parent">
        <ul class="myUL">
            <h3><b>Internal Quality Assurance Cell:</b></h3><br>
            <p>With the aim of ‘Quality Sustenance and Enhancement’ the college formed Internal Quality Assurance Cell on 1st Dec. 2001 to impart holistic education to students through quality<br> education tools. In around one and the half decades it has proved to be a catalyst in bring about positive changes in the academic and administrative performance.</p>
            <p>In the accreditation and Re- accreditation process of NAAC, IQAC has made focused efforts in implementing the suggestions of peer team of NAAC and has also work untiringly <br> to develop new procedures and mechanisms to bring about catalytic improvements in student performance in academic culture as well as sports.</p>
            <p>IQAC holds regular meetings for review of effectiveness of the mechanisms and procedures adopted and decides on new or improved once to ensure the achievement of <br>objectives for which it is establish.</p>
            <p>The Cell has been functioning actively of our Academic and Administrative activities. “Quality Policy” is the major objective of our IQAC through continuous <br>monitoring and constant follow-up of undergoing activities.</p>
 </ul>
    </div><br>
    
        <div id="intro" class="parent">
            <ul class="myUL"><br>
                <h3><b>Strategies Of IQAC:</b></h3><br>
                IQAC shall evolve mechanisms and procedures for:
                <li>1. Ensuring timely, efficient and progressive performance of academic, administrative and financial tasks;</li>
          <li>2. The relevance and quality of academic and research programmes;</li>
          <li>3. Equitable access to and affordability of academic programmes for various sections of society;</li>
          <li>4. Optimization and integration of modern methods of teaching and learning;</li> 
          <li>5. The credibility of evaluation procedures;</li>
          <li>6. Ensuring the adequacy, maintenance and proper allocation of support structure and services;</li> 
          <li>7. Appropriate decision-making</li>
          <li>8. Sharing of research findings and networking with other institutions in India and abroad.</li> 
            </ul>
        </div>  
    <br>
    <div class="parent">
      <ul class="myUL">
          <h3><b>Function Of IQAC:</b></h3><br>
          <li>1. Development and application of quality benchmarks.</li>
          <li>2. Parameters for various academic and administrative activities of the institution;</li>
          <li>3. Facilitating the creation of a learner-centric environment conducive to quality education and faculty maturation to adopt the required knowledge and technology for participatory teaching and learning process;</li>
          <li>4. Collection and analysis of feedback from all stakeholders on quality-related institutional processes;</li>
          <li>5. Dissemination of information on various quality parameters to all stakeholders;</li>
          <li>6. Organization of inter and intra institutional workshops, seminars on quality related themes and promotion of quality circles;</li>
          <li>7. Documentation of the various programmes/activities leading to quality improvement;</li>
          <li>8. Acting as a nodal agency of the Institution for coordinating quality-related activities, including adoption and dissemination of best practices;</li>
          <li>9. Development and maintenance of institutional database through MIS for the purpose of maintaining /enhancing the institutional quality;</li>
          <li>10. Periodical conduct of Academic and Administrative Audit and its follow-up;</li>
          <li>11. Preparation and submission of the Annual Quality Assurance Report (AQAR) as per guidelines and parameters of NAAC.</li>
        </ul>
  </div><br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
