  
  <!-- SECTION: PHOTO WITH TEXT AND BUTTON -->
  <section id="main-photo" class="text-center">
    <div class="container-fluid">
      <div class="row">
        
        
          
      
          <img src="assets/images/DMI.png" alt="harambe face" class="img-responsive" id="harambe-face">
          
        </div>
      </div>
      <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line">MHT-CET Forms are Out.</p>
    <p class="marquee__line">Fill the Forms.</p>
    <p class="marquee__line">Admission Process Started soon....</p>
    <p class="marquee__line">Check Out Our College For Your Future.</p>
  </div>
  
</div>

  
  </section>

  <!-- SECTION: KEY POINTS WITH FONT-AWSOME -->
  <section id="key-points">
    <div class="container-fluid text-center">
      <div class="row">
        <!-- col 3/12 -->
        <div class="col-md-3 yellow-background p-4">
          <i class="fas fa-laptop-code large-text"></i>
          <h2 class="p-1">Easy Access</h2>
          <p>
            24/7 access to classroom content
          </p>
        </div>
        <!-- col 3/12 -->
        <div class="col-md-3 bg-dark text-light p-4">
          <i class="fas fa-headset large-text"></i>
          <h2 class="p-1"> Support </h2>
          <p>
            Live support from instructors for homework, questions, or help
          </p>
        </div>
        <!-- col 3/12 -->
        <div class="col-md-3 yellow-background p-4">
          <i class="fas fa-hand-holding-usd large-text"></i>
          <h2 class="p-1"> Fees Struture</h2>
          <p>
           Give fees in 2 parts allowed.
          </p>
        </div>
        <!-- col 3/12 -->
        <div class="col-md-3 bg-dark text-light p-4">
          <i class="fas fa-ruler-combined large-text"></i>
          <h2 class="p-1"> Modern Designs classes</h2>
          <p>
            Build real world projects and continuously add to your portfolio
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="how-we-teach-header">
    <div class="dark-overlay px-5 pt-3">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <h1>How We Teach</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION: HOW WE TEACH -->
  <!-- SECTION: HOW WE TEACH -->
  <section id="we-teach">
    <div class="container-fluid">
      <!-- ROW 1 OF HOW WE TEACH INFO -->
      <div class="row mx-5">
        <!-- LEFT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-left my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="fas fa-shield-alt"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
              <b>Discover new things together– </b>It’s much more fun for both parties when students and teachers learn new things together.          </p>
          </div>
        </div>
        <!-- RIGHT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-right my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="far fa-clock"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
              <b>Incorporate mystery into your lessons– </b>Learning is the most fun when it’s surprising. Don’t just tell them information; cloak it in to mystery.            </p>
          </div>
        </div>
      </div>

      <!-- ROW 2 OF HOW WE TEACH INFO -->
      <div class="row mx-5">
        <!-- LEFT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-left my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="far fa-smile"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
            <b>Make it interactive– </b>If you want your students to be interested in what you are teaching them, you must make it interactive.           </p>
          </div>
        </div>
        <!-- RIGHT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-right my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="fas fa-user-friends"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
            <b>Share your passion with students– </b>Show students how you have fun. Passion is contagious. If you’re having a good time, chances are your students will too.           </p>
          </div>
        </div>
      </div>

      <!-- ROW 3 OF HOW WE TEACH INFO -->
      <div class="row mx-5">
        <!-- LEFT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-left my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="fas fa-chart-line"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
            <b> Replace lectures with conversations –</b> Why should teaching be so passive? Forget the sage on the stage and engage your students in a casual conversation like you would a good friend.           </p>
          </div>
        </div>
        <!-- RIGHT ITEM -->
        <div class="col-sm-12 col-md-6 d-flex justify-content-right my-3">
          <!-- first -->
          <div class="icon-circle text-center large-text text-white">
            <i class="fas fa-project-diagram"></i>
          </div>
          <!-- second -->
          <div class="mt-3 px-3">
            <p>
            <b>Relate your content with their lives –</b> When you create a real-world connection to what students are learning, it will give them a greater understanding of why they need to learn it.</p>          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- SECTION: OUR COURSES -->
  <section id="courses">
    <!-- HEADER -->
    <div class="container-fluid">
      <div class="row">
        <div class="col p-3 background-black">
          <h2 class="text-center text-light large-text p-5 mb-0">Our Courses</h2>
        </div>
      </div>
    </div>
    <!-- CARDS -->
    <div class="container-fluid">
      <div class="row bg-dark p-5">
        <!-- col 4/12 -->
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center mb-3">
          <div class="card background-black">
            <img class="card-img-top" src="https://cache.careers360.mobi/media/presets/860X430/article_images/2020/4/18/mba.webp" alt="Card image cap">
          
            <h5 class="card-title background-green text-white p-3 text-center">MBA</h5>
            <div class="card-body">
              <p class="card-text text-white">Learn how to build beautiful webpage designs. Apply color schemes and master spacing and positions.</p>
              <a href="#" class="btn yellow-background btn-block btn-lg">Learn More</a>
            </div>
          </div>
        </div>
        <!-- col 4/12 -->
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center mb-3">
          <div class="card background-black">
            <img class="card-img-top" src="https://www.imsroorkee.org/img/course/2.jpg" alt="Card image cap">
            <h5 class="card-title background-green text-white p-3 text-center">MCA</h5>
            <div class="card-body">
              <p class="card-text text-light">Learn how to work with databases, securely storing information and producing outputs. </p>
              <a href="#" class="btn yellow-background btn-block btn-lg">Learn More</a>
            </div>
          </div>
        </div>
        <!-- col 4/12 -->
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center mb-3">
          <div class="card background-black">
            <img class="card-img-top" src="https://examsdaily.in/wp-content/uploads/2022/03/UGC-Announced-PhD-Course-No-Need-For-A-Masters-Degree.jpg" alt="Card image cap">
            <h5 class="card-title background-green text-white p-3 text-center">PHD</h5>
            <div class="card-body ">
              <p class="card-text text-light">If your up for the challenge, the full-stack course will show you how to create, deploy and maintain full dynamic websites.</p>
              <a href="#" class="btn yellow-background btn-block btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h1>Gallery</h1>

  <!-- Start Slider -->
<section id= "slider">

  <!-- Start Slider Checked -->
  <input type= "radio" name="slider" id= "slide-1-radio" checked />
  <input type= "radio" name="slider" id= "slide-2-radio" />
  <input type= "radio" name="slider" id= "slide-3-radio" />
  <!-- End Slider Checked -->

  <!-- Start Slides -->
  <div class= "slides">
    <div class= "slide">
      <a href= "#"><img src= "https://moonjeinstitute.bhonsala.in/Encyc/2022/3/22/2_06_09_02_Students-_1.jpg" alt="slide-1" /></a>
    </div>
    <div class= "slide">
      <a href= "#"><img src= "https://cache.careers360.mobi/media/presets/500X333/colleges/social-media/media-gallery/7815/2020/9/23/Events%20of%20CHME%20Societys%20Dr%20Moonje%20Institute%20of%20Management%20and%20Computer%20Studies%20%20Nashik_Events.png" alt="slide-1" /></a>
    </div>
    <div class= "slide">
      <a href= "#"><img src= "https://moonjeinstitute.bhonsala.in/Encyc/2021/12/1/Web_2_11_44_22_ADVENTURE-CAMP-FOR-STUDENTS-ON-15-FEB-2019_1.jpg" alt="slide-1" /></a>
    </div>
  </div>
  <!-- End Slides -->

  <!-- Start Slider Control -->

  <!-- Start Prevese Arrow -->
  <div class="prev-arrow arrow">
    <label for= "slide-1-radio" id= "prev-1-arrow">
      <i class= "fa fa-arrow-left"></i>
      <span class= "thumb">
        <img src= "https://moonjeinstitute.bhonsala.in/Encyc/2022/3/22/2_06_09_02_Students-_1.jpg" alt="slide-1-thumb" />
      </span>
    </label>
    <label for= "slide-2-radio" id= "prev-2-arrow">
      <i class= "fa fa-arrow-left"></i>
      <span class= "thumb">
        <img src= "https://cache.careers360.mobi/media/presets/500X333/colleges/social-media/media-gallery/7815/2020/9/23/Events%20of%20CHME%20Societys%20Dr%20Moonje%20Institute%20of%20Management%20and%20Computer%20Studies%20%20Nashik_Events.png" alt="slide-2-thumb" />
      </span>
    </label>
    <label for= "slide-3-radio" id= "prev-3-arrow">
      <i class= "fa fa-arrow-left"></i>
      <span class= "thumb">
        <img src= "https://moonjeinstitute.bhonsala.in/Encyc/2021/12/1/Web_2_11_44_22_ADVENTURE-CAMP-FOR-STUDENTS-ON-15-FEB-2019_1.jpg" alt="slide-3-thumb" />
      </span>
    </label>
  </div>
  <!-- Start Prevese Arrow -->

  <!-- Start next Arrow -->
  <div class="next-arrow arrow">
    <label for= "slide-1-radio" id= "next-1-arrow">
      <i class= "fa fa-arrow-right"></i>
      <span class= "thumb">
        <img src= "https://moonjeinstitute.bhonsala.in/Encyc/2022/3/22/2_06_09_02_Students-_1.jpg" alt="slide-1-thumb" />
      </span>
    </label>
    <label for= "slide-2-radio" id= "next-2-arrow">
      <i class= "fa fa-arrow-right"></i>
      <span class= "thumb">
        <img src= "https://cache.careers360.mobi/media/presets/500X333/colleges/social-media/media-gallery/7815/2020/9/23/Events%20of%20CHME%20Societys%20Dr%20Moonje%20Institute%20of%20Management%20and%20Computer%20Studies%20%20Nashik_Events.png"  alt="slide-2-thumb" />
      </span>
    </label>
    <label for= "slide-3-radio" id= "next-3-arrow">
      <i class= "fa fa-arrow-right"></i>
      <span class= "thumb">
        <img src="https://moonjeinstitute.bhonsala.in/Encyc/2021/12/1/Web_2_11_44_22_ADVENTURE-CAMP-FOR-STUDENTS-ON-15-FEB-2019_1.jpg" alt="slide-3-thumb" />
      </span>
    </label>
  </div>
  <!-- Start next Arrow -->

  <!-- End Slider Control -->
</section><br><br><br><br><br><br><br>
<!-- End Slider -->

<app-login></app-login>
<br>
<br>
<br>
<app-footer></app-footer>