<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>College Development Committee</u></h1>
          </div>
        </section>
      </div><br>
      
<div class="container">
  <div class="row">
    <!-- Single starts -->
    <h2><u>College Development Committee</u></h2><br><br>
    <div class="item col-md-4">
      <div class="image">
          <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_02_17_57_ajitbhandakkar_1_H@@IGHT_168_W@@IDTH_170.jpg">
        </div>
      <h2>Dr. Ajit Bhandakkar</h2>

      <p class="desc">
        Gaurdian, DMI
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
</p>
<div class="footer-col">
    <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
    </div>
    </div>
    <div class="item col-md-4">
      <div class="image">
        <img src="https://moonjeinstitute.bhonsala.in/Encyc/2021/12/28/2_03_32_48_Rahul-Vaidya-_1_H@@IGHT_494_W@@IDTH_371.jpg">
      </div>
      <h2>Mr. Rahul Vaidya</h2>
      <p class="desc">
        Chairman,DMI
        <p><a href="https://dmibackup.mediavidya.in/encyc/2021/3/18/2_03_12_14_RahulVaidya_1.pdf">Clicl for more Details</a>
        </p>
        <div class="footer-col">
            <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
            </div>
    </div> 
    <div class="item col-md-4">
      <div class="image">
        <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_02_25_39_ananddeshpande_1_H@@IGHT_168_W@@IDTH_726.jpg">      </div>
      <h2>Mr. Anand Deshpande</h2>
      <p class="desc">
        Member, CDC
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
        </p>
        <div class="footer-col">
        <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="item col-md-4">
      <div class="image">
        <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_02_56_27_Mr.-Girish-Pagare_1_H@@IGHT_168_W@@IDTH_877.jpg">      </div>
      <h2> Mr. Girish Pagare</h2>
      <p class="desc">
        Member, CDC
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
      </p>
      <div class="footer-col">
        <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div><div class="item col-md-4">
      <div class="image">
        <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_03_00_59_Mr.-Rishikesh-Joshi_1_H@@IGHT_168_W@@IDTH_459.jpg">      </div>
      <h2>Mr. Rishikesh Joshi</h2>
      <p class="desc">
        Member, CDC
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
      </p>
        <div class="footer-col">
            <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
            </div>
    </div>
    <div class="item col-md-4">
      <div class="image">
        <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_03_02_53_Mr.-Vijay-Aghav_1_H@@IGHT_168_W@@IDTH_326.jpg">      </div>
      <h2>Mr. Vijay Aghav</h2>
      <p class="desc">
        Member, CDC
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
    
        </p>
        <div class="footer-col">
            <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
            </div>
    </div>
    <div class="item col-md-4">
      <div class="image">
        <img src="https://dmibackup.mediavidya.in/Encyc/2021/3/17/2_03_13_35_Mr.-Samir-Pandit_1_H@@IGHT_168_W@@IDTH_420.jpg">     </div>
      <h2>Mr. Samir Pandit</h2>
      <p class="desc">
        Alumni Member, CDC
        <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/12/15/2_05_38_39_Dr.Ajit_1.pdf">Clicl for more Details</a>
        </p>
        <div class="footer-col">
            <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
            </div>
    </div>
    
  </div>
</div><br>
<app-footer></app-footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
$('.count').counterUp({
  delay:10,
  time:300
})
// Get the button:
mybutton = document.getElementById("myBtn");

//When the user scrolls down 20px from the top of the document, show the buttons
window.onscroll = function() {scrollFunction()};

function scrollFunction(){
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
//When the user clicks on the button, scroll to the top of the document
function topFunction(){
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
</body>
</html>
