<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>Messages</u></h1>
          </div>
        </section>
      </div><br>
      <div class="parent">
        <h3><u>General Secretary:</u></h3><br>
       <p> <img align="left" src="https://moonjeinstitute.bhonsala.in/images/WebSiteImg_Belgaonkar%20sir%20photo_page-0001.jpg" width="400" height="300" >   
        We believe in the educational thoughts of Swami Vivekananda. For the holistic development of any individual education plays important role in our life. These thoughts have much significance in the modern education system which has lost its connection with the values of human life.

 <br>
        The C.H.M.E. Society is consistently follows the precious thoughts of Swami Vivekanand. The society has a rich tradition of more than 80 years of valuesystem and military education. The prestigious educational campus is well known as Ramboomi. Considering the need of modern era, Dr. Moonje Institute of Management and Computer Studies (DMIMCS) is committed to impart education through inculcating basic values – Building National Character, Quality Education and Developing Management Skills.
        <br>
         
        As we look back at the yesteryears, we found that journey since 2002 has been a period of great achievements for the Central Hindu Military Education (C.H.M.E.) Society and Dr. Moonje Institute.
        <br>
        We have accepted military education as well as management education as a primary mode of serving Indian society at large. We are building national characters through future business leaders and IT professionals who also have determination to serve the society and lead the nation. The major contribution of DMIMCS since its inception is in strengthen the business and IT skills vital for society and corporate.
        <br>
        We are sure that we would be able to achieve greater success and fame for our students in the years to come.
        <br>
    </p>
    </div><br><br>
    <div id="intro" class="parent"></div><br><br>
    <div class="parent">
        <h3><u> Secretary:</u></h3><br>
        <p> <img align="right" src="https://moonjeinstitute.bhonsala.in/images/WebSiteImg_Deshpande%20sir%20photo_page-0001.jpg" width="400" height="300" >   
         We believe in the educational thoughts of Swami Vivekananda. For the holistic development of any individual education plays important role in our life. These thoughts have much significance in the modern education system which has lost its connection with the values of human life.
 
  <br>
         The C.H.M.E. Society is consistently follows the precious thoughts of Swami Vivekanand. The society has a rich tradition of more than 80 years of valuesystem and military education. The prestigious educational campus is well known as Ramboomi. Considering the need of modern era, Dr. Moonje Institute of Management and Computer Studies (DMIMCS) is committed to impart education through inculcating basic values – Building National Character, Quality Education and Developing Management Skills.
         <br>
          
         As we look back at the yesteryears, we found that journey since 2002 has been a period of great achievements for the Central Hindu Military Education (C.H.M.E.) Society and Dr. Moonje Institute.
         <br>
         We have accepted military education as well as management education as a primary mode of serving Indian society at large. We are building national characters through future business leaders and IT professionals who also have determination to serve the society and lead the nation. The major contribution of DMIMCS since its inception is in strengthen the business and IT skills vital for society and corporate.
         <br>
         We are sure that we would be able to achieve greater success and fame for our students in the years to come.
         <br>
     </p>
     </div><br><br> 
     <div id="intro" class="parent"></div><br>
    <div class="parent">
        <h3><u>Chairman:</u></h3><br>
        <p> <img align="left" src="https://moonjeinstitute.bhonsala.in/Encyc/2022/1/13/rahul-vaidya_202201131815485432_H@@IGHT_239_W@@IDTH_180.jpg" width="250" height="230" >   
            Dr. Moonje Institute believes in imparting quality education to all students. The institute has excellent state-of-art infrastructure, healthy learning environment, and academic<br> ambience with pro-active academic leadership, experienced and dedicated research oriented faculty, strong<br> institute-industry interaction and collaboration. The institute has optimum infrastructure as per the norms of AICTE.
 <br>
            The Institute is striving very hard to impart management education that not only sharpens the intellectual power of the student but also inculcates discipline ethical and social values, <br>thus preparing students to shoulder responsibilities towards the business, the society and the Nation. Our educational approach is to impart quality education for developing vibrant business leaders and creating I.T professionals of high caliber with Indian values, global vision and social skills.
             <br>
            We aim to train and equip our students to get placed in top notch corporate and business units by<br> transforming and tapping the latent potential and talent dormant in students. I have great pleasure in extending a warm welcome to the prospective students.
     </p>
     </div><br><br>
     <div id="intro" class="parent"></div><br><br>
    <div class="parent">
        <h3><u>Director:</u></h3><br>
        <p> <img align="right" src="https://moonjeinstitute.bhonsala.in/Encyc/2022/1/3/Screenshot-from-2022-01-03-12-14-28(1)_202201031222079242_H@@IGHT_310_W@@IDTH_490.jpg" width="450" height="300" >   
            We are committed to providing excellence in management, computer education and PhD in management and leading in the present day through use of pedagogies and teaching methods, experiential learning and rigorous teaching learning process. We are dedicated to educating core values to our future contributors and leaders. We put consistent efforts to nurture an ecosystem which will allow us to provide a learning environment where we can pursue our vision and achieve maximum potential.
<br>
            The institute coexists with the industry and has best industry collaborations. Institute is connected with corporate, academic bodies and policy making institutions. We have signed MoU’s with professional bodies and subscribed to memberships that provide direct connect and updates the students with latest happenings in the industry.
            <br>
            The faculty members make significant contribution to the academic world through national and international research publications and participating in seminars, workshops, symposium etc. They keep themselves updated through continuous learning process.
            <br>
            The institute encourages student’s development through activities apart from academics like military training, adventure camp, social responsibility initiatives, industrial visits, corporate meets, pre placement training programs, entrepreneurship development programs throughout the academic year.
            <br>
            DMI is recognized for its well-developed infrastructure, modern laboratories, rich library with E resources, exceptional campus, experienced and research oriented faculties. We have a sprawling campus in the heart of the city.
            <br>
            During your educational journey with us, we look forward to learn, explore and grow together.
     </p>
     </div><br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
