html{
  background-color: #2fccd0 ;
}

body {
  font-family: "El Messiri", "BenchNine", "Patua One", sans-serif;
  background-color: #36c5c8  ;
  padding: 5%;
  margin: 5% 20% 20% 20%;
/*   min-width: 700px; */
}
h1{
/*   color: #3F729B !important; */
  color: #d9760c  !important;
  font-family: Cinzel, sans-serif;
  margin-bottom: -3%;
  text-align: center;
  
}
h2{
  position: relative;
  top: 40px;
  color: #d9760c;
  font-style: italic;
  font-size: 18px !important;  
  margin-bottom: 8%;
  text-align: center;
}
h3{ color: #d9760c    ; 
  font-style: italic;

  font-style:italic;
  font-size: 18px !important;
}
h4{ color: #d9760c ; text-align:right;
  font-size: 18px !important;
}

#harambe-face{
  position: relative;
  border-color: #212121            ;
  border-width: 25px;
  border-style: solid;
  border-radius: 50%;
  max-width: 150px;

}

a{
  color: #3F729B;
  color: #d9760c !important;
}

.main-container{
  max-width: 580px;
}

.section{
    background-color: #eeeeee   ;
/*   font-size: 16px; */
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 6px;
  color: #233a3e ;
  
}



li{
  margin-right: 40px;
  margin-bottom: 20px;
}
ul{
  margin: 20px 0px 20px 0px;
}

@media(max-width:700px){
  body{
    margin:0;
  }
  #harambe-face{
/*     display:none; */
    margin:auto;
    margin-bottom:5%;
  }
  li{
    margin:0 0 20px 0;
  }
  ul{
    margin:0 0 0 -40px;
    list-style-position:inside;
  }
}

@media(min-width:700px) and (max-width:1100px){
  body{
    margin: 5%;
  }  
  #harambe-face{
    margin:auto;
    margin-bottom:5%;
  }
}
