<body>
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<h1>Contact Us</h1>
					<span class="seperator"></span>
					<h1>Drop Us a Mail</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d406.90572704044433!2d73.7545170131981!3d20.00742380268652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc138500bb7fdc44!2sBhonsala+Bhavan!5e1!3m2!1sen!2sin!4v1530161247409" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>								
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>45 BC, a Latin professor at Hampden-Sydney College in Virginia</p>
							<p><span class="collig">Phone :</span> +91 976885083</p>
							<p><span class="collig">Email :</span> vivek.mengu016@gmail.com</p>
							<p><span class="collig">Fax :</span> +91 9768850839</p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form (ngSubmit)="storeContact()">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName" [(ngModel)]="contact.first">								.first">
								<input class="col2 last" type="text" placeholder="LastName" [(ngModel)]="contact.last">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="Email" [(ngModel)]="contact.email">
								<input class="col2 last" type="text" placeholder="Contact Number" [(ngModel)]="contact.mobile">
							</div>
							<div class="clearfix">
								<textarea name="textarea" cols="30" rows="7" [(ngModel)]="contact.massage">Your message here...</textarea>
							</div>
							<div class="clearfix">
								<button class="btn btn-dark btn-sm mt-4">Submit</button>
							</div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>
</body>
<app-footer></app-footer>