<header>
    
</header>
<div class="login-box">
  <h1>Login
    <span class="span1"></span></h1>
  <form>
    <div class="text-box">
      <i class="fa fa-user"></i>
      <input type="text" name="usr" placeholder="Username">
      <span class="span2"></span>
    </div>
    <div class="text-box">
      <i class="fa fa-lock"></i>
      <input type="password" name="pwd" placeholder="Password">
      <span class="span3"></span>

    </div>
    <div class="btn-box">
      <input class="btn" type="submit" name="btn" value="Sign in">
      <span class="span_1"></span>
      <span class="span_2"></span>
      <span class="span_3"></span>
      <span class="span_4"></span>  
    </div>
  </form>
</div>