<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App title -->
  
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg bg-primary fixed-top py-2">
  <a class="navbar-brand pb-2" href="#"><img [src]="myimage" alt=""></a><br>
  <h3 class="font-weight-bold green-color  text-light text-center caption">
    Dr.Moonje Institute Of Managment And Computer Studies
  </h3>
  

  <br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABOUT US
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="/chme">CHME Info</a></li>
          <li><a  class="dropdown-item" href="/vision">Vision & Mission</a></li>
          <li><a  class="dropdown-item" href="/quality">Quality Policy</a></li>
          <li><a  class="dropdown-item" href="/goals">Goals & Objectives</a></li>
          <li><a  class="dropdown-item" href="/committee">College Development Committee</a></li>
          <li><a  class="dropdown-item" href="/messages">Messages</a></li>
          <li><a  class="dropdown-item" href="/organogram">Organogram</a></li>
          <li><a  class="dropdown-item" href="/faculty">Faculty</a></li>
          <li><a  class="dropdown-item" href="/contactus">Contact Us</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACTIVITY
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="#">Adventure Camp</a></li>
          <li><a  class="dropdown-item" href="#">Hourse Riding & Swimming</a></li>
          <li><a  class="dropdown-item" href="#">Sports & Days</a></li>
          <li><a  class="dropdown-item" href="#">Indurstry Samvad</a></li>
          <li><a  class="dropdown-item" href="#">Idea Generation</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PLACEMENT
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="#">Placed Student</a></li>
          <li><a  class="dropdown-item" href="#">Faculty</a></li>
    
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ALUMNI
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="#">Alumni Testimonials </a></li>
          <li><a  class="dropdown-item" href="#">Alumni List</a></li>
        
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LIBRARY
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="#">Books</a></li>
          <li><a  class="dropdown-item" href="#">Faculty</a></li>
        
        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FEED-BACK
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="#">Student Form</a></li>
          <li><a  class="dropdown-item" href="#">Teacher Form</a></li>

        </ul>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/iqac" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          IQAC
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a  class="dropdown-item" href="/abtiqrc">About IQAC</a></li>
          <li><a  class="dropdown-item" href="/iqac2">IQAC Goals and Objective</a></li>
          <li><a  class="dropdown-item" href="/coacc">Certificate of Accreditation</a></li>
          <li><a  class="dropdown-item" href="/iqac3">AQAR 2020-21</a></li>
          <li><a  class="dropdown-item" href="/iqac4">AQAR 2019-20</a></li>
          <li><a  class="dropdown-item" href="/iqac5">AQAR 2018-19</a></li>
          <li><a  class="dropdown-item" href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/12/Document-(44)-converted_202203121536597196.pdf">Mandatory Disclosure (AICTE)</a></li>
          <li><a  class="dropdown-item" href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/DMI-SSR_202203301347542341.pdf">SSR</a></li>
          <li><a  class="dropdown-item" href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/12/C.-H.-M.-E.-Society%60s-Dr.-Moonje-Institute-of-Management---Computer-Studies20220311-_202203121545402458.pdf">Mandatory Disclosure(NIRF)</a></li>
        </ul>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/stud" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          STUDENT
        </a>
      </li>
    </ul>
    
    
  </div>
  
</nav>


<router-outlet></router-outlet>