<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>Hostels:</u></h1>
          </div>
        </section>
      </div><br>
      <div class="parent">
        <h3><b>Amenities:</b></h3><br>     
        <ul>
            <li> 1.  Aquaguard purified Drinking Water</li>
            <li>2. Hot/cold water available</li>
            <li>3. Free Newspapers in Reading Room</li>
            <li>4. Library consists of academic as well as general reading books</li>
            <li>5.Direct Inward Dialing to students' room available through EPABX</li>
            <li>6. Carrom, Chess available</li>
            <li>7. 24 hours Security and Residence Rectors available</li>
            <li>  8. TV/Common Waiting Hall.</li>
            <li>9.Guest/Visitors/Parents Waiting Hall.</li>
            <li> 10.Medical facility available.</li>
        </ul> 
     </div><br>
      <div id="intro">        </div>  <br>
      <div class="parent">
        <h3><b>Location:</b></h3><br>     
        <ul>
            <li> 1.  Within 5 min. of walking distance from PMT bus stops.</li>
            <li> 2.Within 5 min of walking distance from the market place.</li>
            <li>  3. Walking distance from DIT.</li>
            <li> 4. Walking distance for Medical Hospital.</li>  
        </ul> 
     </div><br>
     <div id="intro">        </div> <br> 
      <div class="parent">
        <h3><b>Hostels Fees:</b></h3><br>     
        <h6>Girls Hostel Fees Proposed for the Academic Year 2020-21: </h6><br>
        <h6>Boys Hostel Fees Proposed for the Academic Year 2020-21: </h6>
     </div><br>
     <div id="intro">        </div> <br> 
      <div class="parent">
        <h3><b>Hostel Contact Details:</b></h3><br>  
        Address:  Rambhoomi, Bhonsala Military College Campus , Savarkar Nagar , Gangapur-savargaon Rd, Nashik, Maharashtra, India<br>   
        Phone: 253 230 9617<br>  
        Fax	:2342840<br>  
        Website: <a href="http://www.moonjeinstitute.com">http://www.moonjeinstitute.com</a><br>  
        Email Id:	<a href="moonje_institute@rediffmail.com">moonje_institute@rediffmail.com</a><br>  
     </div><br>
     <div id="intro">        </div> <br> 
     <div class="parent">
       <h3><b>Rules & Regulation of the Hostel:</b></h3><br>  
      <ul>
        <li>1. Students must pay the fees in advance at the time of room allotment.</li>
        <li>2. Students should Keep his/her room, passage and sanitary block clean and neat. For cleaning within the room, sweeper will be provided.</li>
        <li>3. Guests or Visitors are not allowed in the room.</li>
        <li>4. The Waste paper should be kept in the waste paper baskets provided in each room. All the waste should be put in the basket provided for<br> it in the sanitary block. Nothing should be thrown out of the windows.</li>
        <li>5. No one will alter the arrangement of furniture in the room nor carry out any repair to the fixture or furniture in the room. Any repair required <br>shall be reported to the Registrar who will take suitable action, if found necessary.</li>
        <li>6. Every student must return to his room before 9:00 p.m. night every day (as main gate will be closed at 9:00 p.m. night & will not be opened before 6:00 a.m.)</li>
        <li>7. No student shall remain absent from the hostel without prior permission of the Hostel Rector / Registrar. Students should make an entry in the register<br> kept with the security while going on leave and coming back.</li>
        <li>8. Only parents are allowed in the room with the prior permission from Hostel Rector / Registrar.</li>
        <li>9. Drinking alcoholic drinks, Smoking or use of intoxicants in any room or hostel premises is strictly prohibited.</li>
        <li>10. No eatable i.e., vegetarian as well as non-vegetarian will be cooked in the room and no outside food either vegetarian or non-vegetarian is allowed inside the hostel.</li>
        <li>11. Playing of cards or any other games in the rooms or passage is strictly prohibited.</li>
        <li>12. Students should not visit any other room without permission of the inmates of that particular room.</li>
        <li>13. Playing of the transistor, radios, tape recorders, T.V. etc is strictly prohibited. If found, the instrument will be forfeited.</li>
        <li>14. Students must try to economise electrical consumption. They must switch off fans, lights etc. when not required, if misused, the supply to the block or room may be discontinued.</li>
        <li>15. Students must take care of all the fittings in their rooms as well as of the hostel property such as electrical fittings in passage, bathrooms and lavatories & sanitary<br> fittings i.e., wash basins, shower baths, water taps in the bathrooms & lavatories. Any loss will be recovered from the inmates of the respective blocks.</li>
        <li>16. Outsides students are not permitted to keep any vehicle/scooter/car in the hostel surroundings Sticking objectionable posters, writings etc. on the wall, door etc. is strictly prohibited.</li>
        <li>17. Students are prohibited from using the electrical appliances in the room. Strict action will be taken against the defaulters, which may include the confiscation of the appliances.<br> The students staying in the hostel are advised not to keep costly things and cash in their rooms. They must also lock their rooms while going out. Hostel authorities<br> will not be responsible for any kind of loss.</li>
        <li>18. Repeaters will not be allowed in the hostel.</li>
        <li>19. Students should check their friends, do not misuse their room for illegal activities.</li>
        <li>20. Students must maintain silence and discipline in the hostel.</li>
        <li>21. Students are not allowed to gather in any room which they are not allotted.</li>
        <li>22. Principal/Registrar will take a surprise visit to the boys or girls hostel anytime of the day or night for checking whether the prevailing<br> rules and regulations are followed by the room inmates.</li>
        <li>23. Leave form is available with the Rector. The filled in leave form should be submitted to the respective to college student Principal through Rector.</li>
        <li>24. All the boys and girls staying in the hostel shall note that regularly attending lectures/practicals/tutorials right from the first day is compulsory<br> and the defaulting students can be expelled from the hostel.</li>
        <li>25. Ragging – “Ragging” in the Hostel or outside the Hostel is totally banned vide “Maharashtra Prohibition of Ragging Act – 1990”.Ragging in any form <br>shall be treated as a serious misconduct and Hostilities found guilty of such misconduct shall be expelled immediately from the Hostels.</li>
      </ul>  
      The Principal has an absolute discretion and reserves the right to modify any existing rules as and when necessary.
    </div><br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
