<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>Anti-Ragging</u></h1>
          </div>
        </section>
      </div><br>
      <div class="parent">
        <p>It is brought to the notice of the students that ragging is a criminal offence and AICTE has framed regulation which has been notified vide F.No.37-3/Legal/AICTE/2009 dated July 1, 2009<br> (available on AICTE web portal aicte-india.org) on curbing the menace of ragging in AICTE approved Technical Institution , in order to prohibit , prevent and eliminate the scourge of<br> ragging in AICTE approved Technical Institutions. The above regulation is mandatory and applied to all students. DMI has constituted Anti-Ragging-Committee, Anti-Ragging <br>Squads and Professional Counselors AICTE Regulation. Any violation of AICTE Regulation as cited above by the student shall call for punitive action against him/her. Students in distress<br> owning to ragging related incidents can contact Anti-Ragging-Committee of the institute or Toll Free Helpline 1800-180-5522 or write to the Member Secretary, AICTE ,7th Floor,<br>Chanderlok Building,Janpath, New Delhi-110001.</p>
    </div><br>
    
        <div id="intro" class="parent">
           <br>
                <h3><b>Anti Ragging Rules are enforced at DMIMCS</b></h3><br>
                <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2021/11/27/2_12_57_22_Click-Here-for-Anti-Ragging-Affidavit_1.pdf">Anti-Ragging Affidavit</a></p>
        </div>  
    <br>
    <div class="parent">
      
          <h3><b>Anti-Ragging Committee & Squad- A.Y.2021-22 </b></h3><br>
          

          <div class="container">
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>Committee Members</th>
                    <th>Designation</th>
                  </tr>                   
                  <tr>
                    <td data-th="Committee Members">
                     Mr. Rahul Vaidya
                    </td>
                    <td data-th="Designation">Chairman, DMIMCS & Society Representative
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Dr. Preeti Kulkarni
                    </td>
                    <td data-th="Designation">   Director, DMIMCS
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mrs. Swati Lakhalgaonkar	
                    </td>
                    <td data-th="Designation">MBA Academic Coordinators
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mrs. Rajeshwari Rasal
                    </td>
                    <td data-th="Designation">
                      MCA Academic Coordinators
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mrs. Shubhada Veer
                    </td>
                    <td data-th="Designation">
                      Student Representative (Girls)
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mr. Adwait Patil
                    </td>
                    <td data-th="Designation">
                      Student Representative (Boys)
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mr. Dashrath Veer
                    </td>
                    <td data-th="Designation">
                      Parent Representative
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mr. Ramesh Thakare
                    </td>
                    <td data-th="Designation">
                      Non-Teaching Staff Representative
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mr. Jitendra Tarate
                    </td>
                    <td data-th="Designation">
                      NGO Representative
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mr. Mandar Oltikar
                    </td>
                    <td data-th="Designation">
                      NGO Representative 
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Sr. Insp.In Charge
                    </td>
                    <td data-th="Designation">	Gangapur Road Police Station
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Dr. Shriram Zade
                    </td>
                    <td data-th="Designation">
                      Dy.Director, DMIMCS
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mrs. Shital Gujarathi	
                    </td>
                    <td data-th="Designation">MBA Faculty
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
              Mr. Ankush Pingale
                    </td>
                    <td data-th="Designation">
                      SWO,DMIMCS
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Committee Members">
                      Mrs. Hema Darne
                    </td>
                    <td data-th="Designation">
                      MCA Faculty
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
  </div><br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
