

<h1>Admission</h1>


<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
  <form class="form" action="#">
    <h2 class="title">Admission</h2>
    <div class="form__group">
      <input type="name" id="fullName" placeholder="Full name..." required><br><br><br>

      <input type="email" id="email"  placeholder="Your email..." required><br><br><br>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Your Mobile No...." required><br><br><br>

      <input type="text" id="fname" name="fname" placeholder="Your Message...." required><br><br>

    
 <a href="#" class="btn yellow-background btn-block btn-lg">send</a>
    </div>
  </form>
</div>
