<section>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="footer-col">
                     <h4>CONTACT INFO</h4>
                     <h6>
              C.H.M.E S's Dr. Moonje Institute of Management & Computer Studies Bhonsala Military College Campus, Savarkar Nagar, Rambhoomi, Gangapur Road, Nashik 5
                      <br>
              Phone : 0253-2309617 / 2342840
              <br>
              FAX - 2342840
            </h6>
                 </div>
                 <div class="footer-col">
                     <h4>USEFUL</h4>
                     <ul>
                         <li><a href="#">MCA</a></li>
                         <li><a href="#">MBA</a></li>
                         <li><a href="#">PhD</a></li>
                         <li><a href="#">Alumni</a></li>
                         <li><a href="#">Placement</a></li>
                     </ul>
                 </div>
                 <div class="footer-col"><br><br><br>
                     <ul>
                         <li><a href="#">Student</a></li>
                         <li><a href="/iqac">IQAC</a></li>
                         <li><a href="/faculty">Faculty</a></li>
                         <li><a href="#">Activities</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>follow us</h4>
                     <div class="social-links">
                         <a href="https://www.facebook.com/dminashik/"><i class="fab fa-facebook-f"></i></a>
                         <a href="https://twitter.com/dminashik"><i class="fab fa-twitter"></i></a>
                         <a href="https://instagram.com/dminashik?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                         <a href="https://in.linkedin.com/school/dminashik/"><i class="fab fa-linkedin-in"></i></a>
                      <a href="https://www.google.com/maps/place/Dr.Moonje+Institute+of+Management+and+Computer+Studies/@20.011436,73.753212,16z/data=!4m12!1m6!3m5!1s0x0:0x7434b0f861975166!2sDr.Moonje+Institute+of+Management+and+Computer+Studies!8m2!3d20.0110796!4d73.7527485!3m4!1s0x0:0x7434b0f861975166!8m2!3d20.0110796!4d73.7527485?hl=en"><i class="fa fa-map-marker"></i></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
  
  </section>
  