<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>IQAR 2020-21</u></h1>
          </div>
        </section>
      </div><br>
    <br>



    <div class="container">
        <h3>AQAR 2020-21</h3>
          <table class="rwd-table">
            <tbody>
              <tr>
                <th>Criteria Subpoint Number</th>
                <th>Point Name/Description</th>
                <th>PDF File Name</th>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  1.3.3
                </td>
                <td data-th="Point Name/Description">
                    No. of Students undertaking project work</td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/1.3.3-MBA-MCA-SIP-PROJECT-2020-21_202204011236214691.pdf">MBA MCA SIP Project 2020-21</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  1.4.1
                </td>
                <td data-th="Point Name/Description">
                  Stakeholder feedback report
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/6/Stakeholder-Feedback-Student-Alumni-Teacher_202204061305256931.pdf">Stakeholder feedback report</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  2.2.1
                </td>
                <td data-th="Point Name/Description">
                  The institution assesses the learning levels of the students and organizes
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/Time-table-of-all-Classes-with-Remedial-Class_202204051153542074.pdf">Timetable of all classes with Remedial Class</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  2.5.1
                </td>
                <td data-th="Point Name/Description">
                  Mechanism of internal assessment is transparent and robust in terms of frequency and mode
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/Internal-Assessment-guidelines_202204051150334114.pdf">Internal assessment guidelines</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  2.5.2
                </td>
                <td data-th="Point Name/Description">
                  Mechanism to deal with internal examination related grievances is transparent, time- bound and efficient
               </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/CE-Timetables_202204051151290239.pdf">CE Timetables</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  2.6.1
                </td>
                <td data-th="Point Name/Description">
                  Programme and course outcomes for all Programmes offered by the institution are stated and displayed on website and communicated to teachers and students
               </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/2.6.1-COPOPSO-List_202204051146495832.pdf">CO/PO/PSO List</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                  2.6.2
                </td>
                <td data-th="Point Name/Description">
                  Attainment of Programme outcomes and course outcomes are evaluated by the institution
                 </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/2.6.2-COPOPSO-List_202204051147182855.pdf">CO/PO/PSO List</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 2.6.3
                </td>
                <td data-th="Point Name/Description">
                      Annual Report
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/6/Stakeholder-Feedback-Student-Alumni-Teacher_202204061305256931.pdf">Annual Report</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 2.7.1
                </td>
                <td data-th="Point Name/Description">
                  Student Satisfaction Survey (SSS) on overall institutional performance
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/STUDENT-SATISFACTION-SURVEY(SSS)_202204051152576479.pdf">Student Satisfaction Survey (SSS)</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 3.2.2
                </td>
                <td data-th="Point Name/Description">
                  Number of workshops/seminars conducted on Research Methodology, Intellectual Property Rights (IPR) and entrepreneurship
                </td>
                <td data-th="PDF File Name">
                  <p><a href="">3.2.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 3.3.2
                </td>
                <td data-th="Point Name/Description">
                  Number of research papers per teachers in the Journals notified on UGC website
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/3.3.2_202203301652193620.pdf">3.3.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 3.5.1
                </td>
                <td data-th="Point Name/Description">
                  Number of Collaborative activities for research, Faculty exchange, Student exchange/ internship
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/3.5.1_202203301653145811.pdf">3.5.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.1.1
                </td>
                <td data-th="Point Name/Description">
                  The Institution has adequate infrastructure and physical facilities for teaching- learning. viz., classrooms, laboratories, computing equipment etc.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.1.1_202203301654135974.pdf">4.1.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.1.2
                </td>
                <td data-th="Point Name/Description">
                  The Institution has adequate facilities for cultural activities, sports, games (indoor, outdoor), gymnasium, yoga center etc.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.1.2_202203301654546276.pdf">4.1.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.1.3
                </td>
                <td data-th="Point Name/Description">
                  Number of classrooms and seminar halls with ICT- enabled facilities such as smart class, LMS, etc.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.1.3_202203301655561255.pdf">  4.1.3</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.2.2
                </td>
                <td data-th="Point Name/Description">
                  The institution has subscription for the following e-resources e-journals e-ShodhSindhu Shodhganga Membership e-books Databases Remote access toeresources
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.2.2_202203301656472387.pdf">4.2.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.3.1
                </td>
                <td data-th="Point Name/Description">
                  Institution frequently updates its IT facilities including Wi-Fi
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.3.1_202203301658416631.pdf">4.3.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 4.4.2
                </td>
                <td data-th="Point Name/Description">
                  There are established systems and procedures for maintaining and utilizing physical, academic and support facilities - laboratory, library, sports complex, computers, classrooms etc.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/4.4.2_202203301700056860.pdf">4.4.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.1.1
                </td>
                <td data-th="Point Name/Description">
                  Number of students benefited by scholarships and free ships provided by the Government during the year
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/5.1.1_202203301701122985.pdf">5.1.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.1.2
                </td>
                <td data-th="Point Name/Description">
                  Number of students benefitted by scholarships, free ships etc. provided by the institution / non- government bodies, industries, individuals, philanthropists during the year
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/5.1.2_202203301701521143.pdf">5.1.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.1.3
                </td>
                <td data-th="Point Name/Description">
                  Capacity building and skills enhancement initiatives taken by the institution
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/5.1.3_202203301702350807.pdf">5.1.3</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.1.4
                </td>
                <td data-th="Point Name/Description">
                  Number of students benefitted by guidance for competitive examinations and career counseling offered by the Institution during the year
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/5.1.4_202203301703199875.pdf">5.1.4</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.3.2
                </td>
                <td data-th="Point Name/Description">
                  Institution facilitates students’ representation and engagement in various administrative, co-curricular and extracurricular activities (student council/ students representation on various bodies as per established processes and norms )
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/5.3.2_202203301704343061.pdf">5.3.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 5.4.1
                </td>
                <td data-th="Point Name/Description">
                  There is a registered Alumni Association that contributes significantly to the development of the institution through financial and/or other support services.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/6/5.4.1_202204061206168143.pdf">5.4.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.1.2
                </td>
                <td data-th="Point Name/Description">
                  The effective leadership is visible in various institutional practices such as
                  decentralization and participative management.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/6/Stakeholder-Feedback-Student-Alumni-Teacher_202204061305256931.pdf">6.1.2</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.2.1
                </td>
                <td data-th="Point Name/Description">
                  The institutional Strategic/ perspective plan is effectively deployed
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/Strategic-Plan-of-DMI_202204011253220175.pdf">Strategic Plan</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.3.1
                </td>
                <td data-th="Point Name/Description">
                  The institution has effective welfare measures for teaching and non- teaching staff
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/6.3.1-Faculty-Welfare_202204011254513777.pdf">Faculty Welfare</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.3.5
                </td>
                <td data-th="Point Name/Description">
                  Institutions Performance Appraisal System for teaching and non- teaching staff
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/6.3.5-DMI-Performonce-Apprisal_202204051133035495.pdf">6.3.5</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.4.1
                </td>
                <td data-th="Point Name/Description">
                  Institution conducts internal and external financial audits regularly. Enumerate the various internal and external financial audits carried out during the year with the mechanism for settling audit objections within a maximum of 200 words
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/6.4.1-Account-SOP_202204051131458408.pdf">6.4.1</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.4.3
                </td>
                <td data-th="Point Name/Description">
                  Institutional strategies for mobilization of funds and the optimal utilization 
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/6.4.3-Institutional-strategies-for-mobilization-of-funds_202204011256166717.pdf">mobilization of funds</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.5.1
                </td>
                <td data-th="Point Name/Description">
                  Internal Quality Assurance Cell (IQAC) has contributed significantly for institutionalizing the Quality assurance strategies and processes.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/6.5.1_202204011257078852.pdf">Quality assurance strategies and processes</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 6.5.3
                </td>
                <td data-th="Point Name/Description">
                  Quality assurance initiatives of the
                  institution include:
                  Regular meeting of
                  Internal Quality Assurance Cell (IQAC);
                  Feedback collected, analyzed and used for
                  improvements
                  Collaborative quality
                  initiatives with other institution(s)
                  Participation in NIRF
                  any other quality
                  audit recognized by state, national or
                  international agencies (ISO Certification,
                  NBA)
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/5/6.5.3-Report-of-orientation-program_202204051158007655.jpg">6.5.3</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 7.1.1
                </td>
                <td data-th="Point Name/Description">
                  Measures initiated by the Institution for the promotion of gender equity during the year
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/7.1.1-Action-Plan_202204011231378632.pdf">Action Plan</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 7.1.9
                </td>
                <td data-th="Point Name/Description">
                  Sensitization of students and employees of the Institution to the constitutional obligations: values, rights, duties and responsibilities of citizens
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/4/1/7.1.9_202204011226522030.pdf">7.1.9</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 7.2.1
                </td>
                <td data-th="Point Name/Description">
                  Describe two best practices successfully implemented by the Institution as per NAAC format provided in the Manual.
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/7.2.1-Best-Practices_202203301726186886.pdf">Best Practices</a></p>
              </tr>
              <tr>
                <td data-th="Criteria Subpoint Number">
                 7.3.1
                </td>
                <td data-th="Point Name/Description">
                  Portray the performance of the Institution in one area distinctive to its priority and thrust within 200 words
                </td>
                <td data-th="PDF File Name">
                  <p><a href="https://moonjeinstitute.bhonsala.in/encyc/2022/3/30/7.3.1_202203301724234955.pdf">7.3.1</a></p>
              </tr>
              </tbody>
            </table>
          </div>

    <br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
