<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="HTML/CSS">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>
    <div class="header" id="topheader">
        <section class="header-section">
          <div class="center-div">
            <h1 class="font-weight-bold"><u>Vision and Mission</u></h1>
          </div>
        </section>
      </div><br>
      <div class="parent">
        <img align="center"  src="https://moonjeinstitute.bhonsala.in/Encyc/2022/1/4/vision_202201041636225915_H@@IGHT_100_W@@IDTH_100.jpg" width="150" height="100" >

            <h3><b>Vision</b></h3><br>
            <p>  To impart Quality Education for developing vibrant 11<br>Business Leaders and creating I.T Professionals<br> of High calibre with Indian Values, <br>Global Vision and Social Skills.</p> 
    </div><br>
    
        <div id="intro" class="parent"></div>
            
    <br>
    <div class="parent">
        <img align="center" src="https://moonjeinstitute.bhonsala.in/Encyc/2022/1/4/mission_202201041634375768_H@@IGHT_100_W@@IDTH_100.jpg" width="150" height="100" >

          <h3><b>Mission</b></h3><br>
          <p>  We at DMIMCS are committed to impart Professional <br>Education by inculcating three basic values among the students.<br> Building National Character, Quality <br>Education & Developing Management Skills.
  </div><br>
  <div id="intro" class="parent"></div>
            
  <br>
  <div class="parent">
      <img align="center" src="https://moonjeinstitute.bhonsala.in/Encyc/2022/1/4/1_202201041637334129_H@@IGHT_363_W@@IDTH_254.png" width="150" height="150" >

        <h3><b>The Emblem demonstrate on the following characteristics</b></h3><br>
<li>1.Indian National Character & Values</li>
    <li>  2. Quality Management Education</li>
        <li>  3.Quality Management Education</li>
            <li> 4. Global Vision</li>
                <li> 5.Technology Enabled</li>
                    <li>6.Co-education</li>
                        <li>  7.Society Supportive Hand</li>
    <li>8.Social Skills</li>
</div><br>
<app-footer></app-footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('.count').counterUp({
    delay:10,
    time:300
  })
  // Get the button:
  mybutton = document.getElementById("myBtn");

  //When the user scrolls down 20px from the top of the document, show the buttons
  window.onscroll = function() {scrollFunction()};

  function scrollFunction(){
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  //When the user clicks on the button, scroll to the top of the document
  function topFunction(){
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
